#popup {
    position: relative;
    width: 45%;
}

.popup-open {
    animation: 300ms ease-in 0s fadein;
}

.popup-close {
    animation: 300ms ease-in 0s forwards fadeout;
}

@keyframes fadein {
    from {
        transform: translateY(10%);
        opacity: 0.3;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeout {
    to {
        opacity: 0;
    }
}